.content{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 56px 8px 0;
    align-items: center;
}

.content__logo{
    height: 56px;

}

.content__search{
    margin-top: 18px;
    width: 100%;
    max-width: 736px;
    padding: 7px 10px 6px 20px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.87);
    background: transparent;
    border-radius: 25px;
    border: 1px solid #dadce0;
    outline: none;
}

.content__offer{
    margin-top: 24px;
    font-size: 13px;
    padding: 6px 12px;
}

.content__offer a{
    text-decoration: none;
    color: var(--active-color);
}